body{
    margin: 18px 15%;
}

#fundo1{
	background-image: url(../imagens/fundo.png);
}

.fundo2{
    background-image: url(../imagens/fundo2.png);
}

.menu{
	display: flex;
	justify-content: space-between;
}

.menu > div{
	line-height: 48px;
	align-items: center;
}

.img{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.img > div{
	align-items: center;
}

.rodape{
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.rodape > div{
	text-align: center;
}

.input{
	width: 200px;
}

#descr{
	width: 200px;
	height: 60px;
}