{% extends "base.html" %}

{% block bg %}

<body id="fundo2">
        
{% endblock %}

{% block content %}

<!-- texto -->

	<div>
        <h1>Entre em contato</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>


<hr>

<!--    Metodo de 'colocar na dataBase'    'função para executar' -->
<form       method="post"                      action="/contatos">

    <!-- email assunto -->
    <p>Seu e-mail:</p>
    <!--              tipo de conteudo  nome da "variavel"  obriga a ser prenchido -->
    <input class="input" type="email"      name="email"          required>

    <p>Assunto:</p>
    <input class="input" type="text" name="assunto" required>

    <!-- descricao botao -->

    <p>Descrição:</p>
    <input type="text" id="descr" type="text" name="descricao" required>
    <br>
    <input type="submit">
    <!-- <button>Enviar</button> -->

</form>
    
{% endblock %}