{% extends "base.html" %}

{% block bg %}

<body id="fundo1">
        
{% endblock %}

{% block content %}

    <!-- Imagem -->
    <div class="img">

        <div>
        <img src="../static/imagens/capa.png" alt="Capa">
        </div>

    </div>
    
    <!-- Texto -->
    <div>
        <h1>Sobre a Universidade</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quidem harum distinctio eaque aliquam! Dolorum voluptate deserunt minima error nulla eum, dicta ducimus veritatis ipsum alias ea similique sint repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non expedita quos id alias incidunt, asperiores hic necessitatibus sequi libero laboriosam placeat! Placeat, quo esse veniam nesciunt aliquid fugiat magnam dolorem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quidem harum distinctio eaque aliquam! Dolorum voluptate deserunt minima error nulla eum, dicta ducimus veritatis ipsum alias ea similique sint repudiandae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque impedit unde natus, vel ad reiciendis ea nostrum ullam rerum cumque, totam eaque et earum consequuntur, excepturi asperiores necessitatibus? Accusamus, sequi?</p>
    </div>
    
{% endblock %}