{% extends "base.html" %}

{% block bg %}

<body id="fundo2">
        
{% endblock %}

{% block content %}

	<!-- Quem Somos -->
	<div>
        <h1>Quem Somos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quidem harum distinctio eaque aliquam! Dolorum voluptate deserunt minima error nulla eum, dicta ducimus veritatis ipsum alias ea similique sint repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non expedita quos id alias incidunt, asperiores hic necessitatibus sequi libero laboriosam placeat! Placeat, quo esse veniam nesciunt aliquid fugiat magnam dolorem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quidem harum distinctio eaque aliquam! Dolorum voluptate deserunt minima error nulla eum, dicta ducimus veritatis ipsum alias ea similique sint repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non expedita quos id alias incidunt, asperiores hic necessitatibus sequi libero laboriosam placeat! Placeat, quo esse veniam nesciunt aliquid fugiat magnam dolorem.</p>
		
		
    </div>

	<!-- 5 motivos -->

	<div>
        <h1>5 Motivos</h1>
        
		<ul>
			<ol>
				<li>Material sempre atualizado</li>
				<li>Tablets em sala de aula</li>
				<li>Professores renomados</li>
				<li>Universidade bem avaliada</li>
				<li>Ótima localização</li>
			</ol>
		</ul>
		
    </div>
	
<hr>
	<!-- objetivos -->
	
	<div>
        <h1>Objetivos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quidem harum distinctio eaque aliquam! Dolorum voluptate deserunt minima error nulla eum, dicta ducimus veritatis ipsum alias ea similique sint repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non expedita quos id alias incidunt, asperiores hic necessitatibus sequi libero laboriosam placeat! Placeat, quo esse veniam nesciunt aliquid fugiat magnam dolorem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quidem harum distinctio eaque aliquam! Dolorum voluptate deserunt minima error nulla eum, dicta ducimus veritatis ipsum alias ea similique sint repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non expedita quos id alias incidunt, asperiores hic necessitatibus sequi libero laboriosam placeat! Placeat, quo esse veniam nesciunt aliquid fugiat magnam dolorem.</p>
        
    </div>
    
{% endblock %}